h1 {
  font-size: 50px;
  font-weight: bold;
  color: coral;
}

.align-left {
  width: 50%;
  display: inline-block;
  text-align: left;
}

.align-right {
  width: 49%;
  display: inline-block;
  text-align: right;
}

.btn-coral {
  background-color: coral;
  color: white;
}

.btn-orange {
  background-color: orange;
  color: white;
}

.float-right {
  float: right;
}

h2, h3 {
  display: inline-block;
}

table {
  width: 100%;
}

td, th {
  outline: 1px solid lightgray;
}

th {
  height: 40px;
  font-weight: normal;
  padding-left: 1%;
}

.tea-column {
  width: 30%;
}

.info-column {
  padding-left: 1%;
  padding-right: 1%;
  line-height: 25px;
}

.product-column {
  width: 60%;
  padding-left: 1%;
  line-height: 25px;
  padding-bottom: 20px;
}

.other-column {
  padding-left: 1%;
  padding-top: 10px;
  vertical-align: top;
}

.edit-qty {
  width: 50%;
  max-width: 60px;
}

.img-div {
  height: 300px;
  text-align: center;
  line-height: 300px;
}

table {
  margin-top: 20px;
  margin-bottom: 40px;
}

$baseFontSize: 16;
$green: #1abc9c;
$yellow: #f1c40f;
$red: #c0392b;
$blue: #3498db;
$grey: #f2f2f2;

@function rem($val) {
  @return #{$val / $baseFontSize}rem;
}

.content {
  display: flex;
}

// Gauge
.mask {
  position: relative;
  overflow: hidden;

  display: block;
  width: rem(200);
  height: rem(100);
  margin: rem(20);
}
.semi-circle {
  position: relative;

  display: block;
  width: rem(200);
  height: rem(100);

  background: linear-gradient(to right, $red 0%, $yellow 50%, $green 100%);

  border-radius: 50% 50% 50% 50% / 100% 100% 0% 0% ;

  &::before {
    content: "";

    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 2;

    display: block;
    width: rem(140);
    height: rem(70);
    margin-left: rem(-70);

    background: #fff;

    border-radius: 50% 50% 50% 50% / 100% 100% 0% 0% ;
  }
}

.semi-circle--mask {
  position: absolute;
  top: 0;
  left: 0;

  width: rem(200);
  height: rem(200);

  background: transparent;

  transform: rotate(120deg) translate3d(0,0,0);
  transform-origin: center center;
  backface-visibility: hidden;
  transition: all .3s ease-in-out;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0%;
    z-index: 2;

    display: block;
    width: rem(202);
    height: rem(102);
    margin: -1px 0 0 -1px;

    background: #f2f2f2;

    border-radius: 50% 50% 50% 50% / 100% 100% 0% 0% ;
  }
}

.gauge--1 {
  .semi-circle {
    background: $green;
  }
}

.gauge--2 {
  .semi-circle {
    background: $red;
  }

  .semi-circle--mask {
    transform: rotate(20deg) translate3d(0,0,0);
  }
}
