<h1>Order total: {{view.total | currency}}</h1>
<div ng-repeat="item in view.bag">
  {{item.name}}
  <img src="{{item.imageUrl}}" alt="">
  Caffeine Scale: {{item.caffeineScale}}
  Ingredients: {{item.ingredients}}
  Rating: {{item.rating}}
  Quantity:
    <span ng-show="!item.editing">{{item.qty}}</span>
    <input ng-show="item.editing" ng-model="item.qty" type="number" value={{item.qty}} />
  <button ng-click="item.editing = !item.editing; view.updateTotal()" class="btn btn-info">
    <span ng-show="!item.editing">Edit</span>
    <span ng-show="item.editing">Save</span>
  </button>
  Subtotal: {{item.price * item.qty}}

  <button ng-click="view.removeItem(item)" class="btn btn-warning">Remove</button>
</div>
