<div class="text-muted align-left">
  Search by category:
  <select name="searchCategory" ng-model="searchCategory">
    <option value="">all</option>
    <option ng-repeat="category in view.categories">{{category}}</option>
  </select>
  &nbsp;Search by name:
  <input type="text" name="name" value="searchName" ng-model="searchName" />
</div>
<div class="align-right">
  <a class="btn btn-coral" ng-href="#/checkout">Checkout | Bag<!--
    --><span ng-show="!view.bag.length">: Empty!</span>
    <span ng-show="view.bag.length">({{view.bag.length}})</span>
  </a>
</div>
<table>
  <thead>
    <tr>
      <th>
        Tea
      </th>
      <th>
        <div class="align-left">
          Information
        </div>
        <div class="align-right">
          Sort by price:
          <select name="orderAttr" ng-model="orderAttr">
            <option value="price">Lowest</option>
            <option value="-price">Highest</option>
          </select>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in view.items | orderBy:orderAttr | filter:{categories:searchCategory} | filter:{name:searchName}">
      <td class="tea-column">
        <div class="img-div">
          <img src="{{item.imageUrl}}" alt="image of tea ingredients" />
        </div>
      </td>
      <td class="info-column">
        <h3>{{item.name}}</h3>
        <form class="float-right" ng-submit="view.addItem(item)">
          <label for="qty"><h3>Quantity: </h3></label>
          <select ng-model="item.qty" name="qty" id="qty">
            <option name="qty" ng-repeat="quantity in view.quantities" value={{quantity}}>
              {{quantity}}
            </option>
          </select>
          <input class="btn btn-orange" type="submit" value="Add To Bag">
        </form>
        <br>
        <strong>Price: </strong>{{item.price | currency}}
        <br>
        <strong>Caffeine Scale: </strong>{{item.caffeineScale}}
        <br>
        <strong>Ingredients: </strong>{{item.ingredients}}
        <br>
        <strong>Rating: </strong>{{item.rating}}
        <br>
        <strong>In Stock? </strong>
          <span ng-show="item.inStock">Yes</span>
          <span ng-show="!item.inStock">No</span>
        <br>
        <strong>Categories: </strong>
        <ul>
          <li ng-repeat="category in item.categories">
            {{category}}
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
